:{$PORT}
encode zstd gzip
root * /usr/share/caddy

# proxy de API
handle /api/* {
    reverse_proxy {$API_UPSTREAM}
}

# para o resto: tenta servir o ficheiro; se não existir, faz fallback para index.html (SPA)
handle {
    try_files {path} /index.html
    file_server
}

